<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Ryan</h1>
      <h1>Kretch.</h1>
      <p>web developer</p>
      <p>designer</p>
      <p>social entrepreneur</p>
    </div>
  </div>
</div>
<div class="about">
  <div class="wrap-about">
    <h2>hi there</h2>
    <p>Based in the wonderful New York City, I am a Full-Stack Web Developer with a passion for working on projects that improve lives all over the globe.</p>
  </div>
</div>
